%flex-fill{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@mixin flex-center($direction){
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin flex-top($direction){
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: $direction;
}

@mixin background-image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}