$house-card-color: transparent;
$border-radius: 10px;
$card-color: rgb(248, 248, 255);


.card-layout {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background-color: transparent;
    justify-content: center;

    .card {
        margin: 10px;
        border-radius: $border-radius;
        width: 230px;
        height: 370px;
        box-shadow: 1px 1px 1px 1px;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
            box-shadow: none;

        }

        .card-img-top {
            height: 200px;
            width: 218px;
            margin: 5px 0 5px 0;
            border-radius: $border-radius;
            align-self: center;
      
            border: 2px solid goldenrod;
        }

        .card-body {
            background-color: $card-color;
            border-radius: $border-radius;
            padding-top: 7px;
            border: 2px solid goldenrod;
            margin: 5px 0 5px 0;
            width: 218px;
            align-self: center;
        

            .card-title {
                text-align: center;
                text-decoration: none;
                margin: 0 0 0 0;
                background-color: $card-color;
            }

            .card-text {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                padding-bottom: 5px;
                background-color: $card-color;
                height: 100px;
                overflow: hidden;
                text-overflow: ellipsis;

                h6 {
                    text-align: center;
                    margin-top: 7px;
                    font-weight: bold;
                }
            }
        }
    }
}

.char-card-layout {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background-color: transparent;


    .card {
        margin: 10px;
        border-radius: $border-radius;
        width: 230px;
        height: 370px;
        box-shadow: 1px 1px 1px 1px;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
            box-shadow: none;
            transform: scale(1.05);
        }

        .card-img-top {
            height: 200px;
            width: 218px;
            margin: 5px 0 5px 0;
            border-radius: $border-radius;
            align-self: center;
      
            border: 2px solid goldenrod;
        }

        .card-body {
            background-color: $card-color;
            border-radius: $border-radius;
            padding-top: 7px;
            border: 2px solid goldenrod;
            margin: 5px 0 5px 0;
            width: 218px;
            align-self: center;
        

            .card-title {
                text-align: center;
                text-decoration: none;
                margin: 0 0 0 0;
                background-color: $card-color;
            }

            .card-text {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                margin: 0;
                padding-bottom: 0.5em;
                background-color: $card-color;
                height: 100px;
                overflow: hidden;
                text-overflow: ellipsis;

                h6 {
                    text-align: center;
                    margin-top: 7px;
                    font-weight: bold;
                }
            }
        }
    }
}


.house-card-layout {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background-color: transparent;
    width: 100%;

    .card {
        margin: 15px 15px 15px 15px;
        border-radius: $border-radius;
        width: 230px;
        height: 280px;
        box-shadow: 1px 1px 1px 1px goldenrod;
        border: 2px solid goldenrod;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
            box-shadow: none;
        }

        .card-img-top {
            height: 170px;
            width: 220px;
            padding: 8px 0 5px 0;
            border-radius: $border-radius;
        }

        .card-body {
            background: url('https://i.pinimg.com/originals/2f/9a/98/2f9a98ceaae39ffc206ae26f7bdf9e36.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: $border-radius;
            width: 226px;
            height: 60px;
            color: black;

            .card-title {
                text-align: center;
                text-decoration: none;
                margin: 0 0 0 0;
                background-color: $house-card-color;
                margin-bottom: 5px;
            }

            .card-text {
                text-align: center;
                margin: 0;
                background-color: $house-card-color;
                font-weight: bold;

                h6 {
                    text-align: center;
                    margin-top: 15px;
                    font-weight: bold;
                    padding: 0 30px 0 30px;
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                }
            }
        }
    }
}

.squish-house-card-layout {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background-color: transparent;
    // transform: skew(-10deg, -10deg);

    .card {
        margin: 10px 10px 0px 10px;
        border-radius: $border-radius;
        width: 228px;
        height: 100px;
        box-shadow: 0;
        box-shadow: 1px 1px 1px 1px goldenrod;
        border: 2px solid goldenrod;
        // transform: skew(-4deg, -10deg);

        &:hover {
            cursor: pointer;
            box-shadow: none;
            transform: translateY(-140px);
         
   
        }

        .card-img-top {
            height: 150px;
            width: 226px;
            padding: 5px 0 5px 0;
            border-top-right-radius: $border-radius;
            border-top-left-radius: $border-radius;
            align-self: center;
            background-color: white;
        }

        .card-body {
            background: url('https://i.pinimg.com/originals/2f/9a/98/2f9a98ceaae39ffc206ae26f7bdf9e36.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-bottom-right-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            width: 226px;
            color: black;
            align-self: center;



            .card-title {
                text-align: center;
                text-decoration: none;
                margin: 0 0 0 0;
                background-color: $house-card-color;
                margin-bottom: 5px;
            }

            .card-text {
                text-align: center;
                margin: 0;
                background-color: $house-card-color;
                font-weight: bold;

                h6 {
                    text-align: center;
                    margin-top: 15px;
                    font-weight: bold;
                    padding: 0 30px 0 30px;
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                }
            }
        }
    }
}