@import '../fonts/fonts.scss';

.index-h1 {
    background-color: rgb(248, 248, 255);
    color: black;
    border-bottom: 3px solid goldenrod;
    text-align: center;
    padding: 25px 0 20px 0;

    font-family: 'GameOfThrones';
}

.color-container {
    background-color: rgb(248, 248, 255);
}


.map {
    margin: 18px 0 8px 40px;
}

.map-filt {
    display: flex;
    width: 100%;
 
}

.house-org {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;

}




@media (max-width: 541px) {
    .filter-row {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .card-layout {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .map-container {
        display: none;
    }
}
