@import '../fonts/fonts.scss';

.map-container{
  position: relative;
  width: 100%;
  margin: 1em;
  background: #6b4f29;
  border: 5px double #b78846;
  .map-popup{
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 20%;
    aspect-ratio: 1;
    background: #80d5a6;
    border: 5px dashed mediumseagreen;
    box-shadow: 0 0 0 2.5px #226741, inset 0 0 0 2.5px #226741, 0 5px 10px 15px rgba(0, 0, 0, 0.5), inset 0 0 0 6px #fff, inset 0 0 100vw 100vw beige;
    h1{
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'GameOfThrones';
      font-size: 1em;
      width: 100%;
    }
    img{
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  .map{
    margin: 0;
  }
}
