@import '../global/variables.scss';

.account-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}