@import '../global/variables.scss';

.profile-container {
  height: 100vh;
}

.account-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.character-list-container {
  display: flex;
  flex-direction: column;
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    img {
      height: 100px;
      width: 100px;
    }
  }
}