@import '../global/variables.scss';
@import '../fonts/fonts.scss';

.container {
  display: flex;
  align-items: center;
}



.edit-delete-container {
  .single-button {
    background-color: gold;
    border-radius: 5px;
    box-shadow: 5px 5px white;
    width: 80px;
    color: black;
    margin-bottom: 10px;

    &:hover {
      transform: scale(1.2);
      box-shadow: none;
      transform: translate(5px, 5px);
    }
  }

  .edit-button {
    margin-right: 15px;
  }
}

@mixin houseColours($primary, $secondary, $tertiary ) {
  @include flex-center(column);
  position: relative;
  min-width: 375px;
  h2 {
    display: inline-block;
    font-family: 'GameOfThrones';
    font-size: 5vw;
    text-align: center;
    box-shadow: 0 4px 30px $tertiary;
    padding: 0.1em;
    margin: 0.5em;
  }
  h3 {
    font-family: 'Grogoth';
    font-size: 4vw;
    text-align: center;
    box-shadow: 0 4px 30px $tertiary;
    padding: 0.1em;
  }
  p {
    font-family: 'Emperialisme';
    font-size: 3vw;
    box-shadow: 0 4px 30px $tertiary;
    padding: 0.5em;
    margin: 0.5em;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  li {
    font-size: 3vw;
    font-family: 'BlackCastle';
    list-style: none;
    padding: 0 1em;
    box-shadow: 0 4px 30px $tertiary;
  }
  .col{
    @include flex-center(row);
    min-width: 400px;
  }
  .split-page {
    color: rgba(245, 245, 255, 0.8);
    @include flex-center(row);
    .column {
      @include flex-center(column);
      height: 100%;
      min-width: 400px;
      padding: 1em;
    }
  }
  .stained-glass {
    @include flex-center(column);
    box-shadow: 0 4px 40px $secondary;
    backdrop-filter: blur(5px);
    width: 90%;
    min-width: 350px;
    background-image: linear-gradient(200deg, $primary 20%, rgba(255, 255, 255, 0.5) 30%, $primary 50%);
    opacity: 0.75;
    color: $secondary;
    border: 1em double $tertiary;
    border-radius: 5px;
    padding: 1em 2em;
    margin: 1em 5vw;
  }
  .index-return {
    position: absolute;
    color: $primary;
    font-size: 3em;
    right: 0;
    top: 0;
    margin-right: 0.5em;
    margin-top: -0.5em;
    svg {
      @include radial-background($secondary);
    }
  }
  .index-return:hover {
    animation: grow alternate infinite 0.5s;
  }
  .main-image-container {
    @include radial-background($primary);
    .main-image {
      @include flex-center(column);
      margin: 1em;
      img {
        display: inline-block;
        width: auto;
        height: auto;
        max-width: 500px;
        max-height: 500px;
        border: 1em double $tertiary;
        border-radius: 5px;
        box-shadow: 0 4px 30px $primary;
      }
    }
  }
  .single-character-hero{
    align-self: flex-start;
  }
  .pictureFrame {
    background-image: url("../images/picture-frame.png");
    @include background-image(contain);
    aspect-ratio: 1;
    @include flex-center(column);
    .picture-single {
      width: 66%;
      aspect-ratio: 0.85;
      margin: 5em;
    }
  }
  .banner-container {
    @include flex-center(column);
    @include radial-background($secondary);
    .crest-single {
      width: 40%;
      margin: 1em;
    }
    .crest-single:hover {
      animation: tilt-shaking linear 1s infinite;
    }
  }
  .family-home {
    color: $primary;
    text-decoration: none;
    text-shadow: -1px -1px 0 $tertiary, 1px -1px 0 $tertiary, -1px 1px 0 $tertiary, 1px 1px 0 $tertiary;
  }
  .family-home:hover {
    color: $secondary;
    box-shadow: inset 0 3em 0 0 $primary;
    text-shadow: none;
  }
  .occupying-house {
    @include flex-center(column);
    width: 100%;
    .occupier {
      @include flex-wrap();
      justify-content: center;
      width: 100%;
      min-width: 350px;
      .house-link {
        width: 30%;
        min-width: 300px;
        text-decoration: none;
        transition: box-shadow, linear, 1s, infinite;
        margin: 1% 2%;
        .house-picture-link {
          width: 100%;
          margin: 0 auto;
          @include background-image(cover);
          font-size: 2vw;
          padding: 1em;
          color: rgba(245, 245, 255, 0.8);
          text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }
      }
    }
  }
  .house-link:hover {
    box-shadow: 0 0 20px 20px $secondary;
  }
  .house-member-container {
    @include flex-center(row);
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: 0 4px 30px $tertiary;
    width: 90%;
    .house-member {
      @include flex-wrap();
      justify-content: center;
      width: 29%;
      min-width: 200px;
      border: 0.5em inset $tertiary;
      border-radius: 5px;
      text-decoration: none;
      color: $secondary;
      padding: 1em;
      margin: 1em auto;
      transition: box-shadow, linear, 1s, infinite;
      .individual {
        @include flex-center(column);
        h2 {
          font-size: 1em;
        }
        img {
          width: 100%;
          border: 0.2em outset $tertiary;
          border-radius: 5px;
          box-shadow: 0 4px 20px $secondary;
          aspect-ratio: 1 / 1.2;
        }
      }
    }
  }
  .house-member:hover {
    box-shadow: 0 0 20px 20px $secondary;
  }
}

@mixin smallScreens() {
  @media screen and (max-width: 576px) {
  h2 {
    font-size: 1.5em;
    margin: 1vw;
  }
  h3 {
    font-size: 3em;
    margin: 0.2em;
  }
  p {
    font-size: 2em;
  }
  li {
    font-size: 1.5em;
  }
  .col{
    @include flex-center(column);
    margin: 1.5em auto;
  }
  .split-page {
    @include flex-center(column);
    .row {
      padding: 1em;
    }
  }
  .stained-glass {
    @include flex-center(column);
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .index-return {
    font-size: 3em;
  }
  .house-picture-link {
    font-size: 1.5em !important;
  }
}
}

@mixin largeScreens() {
  @media screen and (min-width: 1400px) {
    width: 1400px;
    h2 {
      font-size: 2.5em;
    }
    h3 {
      font-size: 3em;
    }
    p {
      font-size: 2.5em;
    }
    li {
      font-size: 1.5em;
    }

    .pictureFrame{
      width: 430px;
    }
    .stained-glass{
      width: 800px;
    }
    .index-return {
      font-size: 3em;
    }
    .house-picture-link {
      font-size: 1.5em !important;
    }
  }
}

.Arryn-container {
  @include houseColours(#0f86e1, #FCFCFC, #1c517c);
  @include smallScreens();
  @include largeScreens()
}

.Assembly-container {
  @include houseColours(red, white, black);
  @include smallScreens();
  @include largeScreens()
}

.Baelish-container{
  @include houseColours(#16a516, #84a584, #d3d4d3);
  @include smallScreens();
  @include largeScreens()
}

.Baratheon-container {
  @include houseColours(#F4D71B, #313131, #D63232);
  @include smallScreens();
  @include largeScreens()
}

.Blackwood-container {
  @include houseColours(#971818, #E8E6E6, #1D1C1C);
  @include smallScreens();
  @include largeScreens()
}

.Bolton-container {
  @include houseColours(#E58B8B, #A62929, #EA7070);
  @include smallScreens();
  @include largeScreens()
}

.Brax-container {
  @include houseColours(#991399, #E0E0E0, #751E75);
  @include smallScreens();
  @include largeScreens()
}

.Clegane-container {
  @include houseColours(#E4BB07, #444141, #C4C4C4);
  @include smallScreens();
  @include largeScreens()
}

.Dayne-container {
  @include houseColours(#0C5891, #FEFEFE, #6E7A7C);
  @include smallScreens();
  @include largeScreens()
}

.Dondarrion-container {
  @include houseColours(#050505, #AC1CAC, #FFFFFF);
  @include smallScreens();
  @include largeScreens()
}

.Dothraki-container {
  @include houseColours(#E69B1C, #71472F, #D67A13);
  @include smallScreens();
  @include largeScreens()
}

.Dustin-container {
  @include houseColours(#ECEC08, #A0A0A0, #9E6045);
  @include smallScreens();
  @include largeScreens()
}

.Free.Folk-container {
  @include houseColours(#0C5891, #927330, #6E7A7C);
  @include smallScreens();
  @include largeScreens()
}

.Frey-container {
  @include houseColours(#1F1F3D, #C3C1B2, #7F7F7F);
  @include smallScreens();
  @include largeScreens()
}

.Glover-container {
  @include houseColours(#F13F12, #ACACAC, #E12F02);
  @include smallScreens();
  @include largeScreens()
}

.Greyjoy-container {
  @include houseColours(#191919, #F2C615, #F7F7F7);
  @include smallScreens();
  @include largeScreens()
}

.Hightower-container {
  @include houseColours(#475351, #55B357, #CDCABE);
  @include smallScreens();
  @include largeScreens()
}

.Independent-container{
  @include houseColours(#475351, #cbdacb, #a76262);
  @include smallScreens();
  @include largeScreens()
}

.Karstark-container {
  @include houseColours(#201C1D, #F9F9F9, #403D3E);
  @include smallScreens();
  @include largeScreens()
}

.Lannister-container {
  @include houseColours(#86090A, #C2AD77, #000000);
  @include smallScreens();
  @include largeScreens()
}

.Mallister-container {
  @include houseColours(#440274, #E4E4E4, #C91C1C);
  @include smallScreens();
  @include largeScreens()
}

.Manderly-container {
  @include houseColours(#108080, #118111, #FFFFFF);
  @include smallScreens();
  @include largeScreens()
}

.Martell-container {
  @include houseColours(#E37D17, #D32D2D, #FBFB52);
  @include smallScreens();
  @include largeScreens()
}

.Mormont-container {
  @include houseColours(#047C04, #94E494, #1D1D1D);
  @include smallScreens();
  @include largeScreens()
}

.Watch-container {
  @include houseColours(#3900a3, #000000, #6d00b6);
  @include smallScreens();
  @include largeScreens()
}

.Reed-container {
  @include houseColours(#81A688, #0B0B0B, #567E5E);
  @include smallScreens();
  @include largeScreens()
}

.Royce-container {
  @include houseColours(#CA8846, #353535, #4C341C);
  @include smallScreens();
  @include largeScreens()
}

.Stark-container {
  @include houseColours(#818181, #F1F1F1, #E19797);
  @include smallScreens();
  @include largeScreens()
}

.Stokeworth-container{
  @include houseColours(#098309, #f5d81f, #fcfcfc);
  @include smallScreens();
  @include largeScreens()
}

.Targaryen-container {
  @include houseColours(#0B0B0B, #B62B2B, #F8F6F6);
  @include smallScreens();
  @include largeScreens()
}

.Tarly-container {
  @include houseColours(#047C04, #C30F0F, #8A9159);
  @include smallScreens();
  @include largeScreens()
}

.Tarth-container {
  @include houseColours(#34355C, #A14432, #DFD548);
  @include smallScreens();
  @include largeScreens()
}

.Tully-container {
  @include houseColours(#0E0EB4, #9C1919, #D0D0D0);
  @include smallScreens();
  @include largeScreens()
}

.Tyrell-container {
  @include houseColours(#1A8E1A, #FFE646, #A4580C);
  @include smallScreens();
  @include largeScreens()
}

.Umber-container {
  @include houseColours(#982023, #C3C2C2, #B14245);
  @include smallScreens();
  @include largeScreens()
}

.Unsullied-container{
  @include houseColours(brown, white, beige);
  @include smallScreens();
  @include largeScreens()
}

.Westerling-container {
  @include houseColours(#D4B96A, #C8C8C8, #FFFFFF);
  @include smallScreens();
  @include largeScreens()
}

.general-container {
  @include houseColours(#ffd900, #0004ff, #ff9900);
  @include smallScreens();
  @include largeScreens()
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}
