@import './components/Index.scss';
@import './components/Nav.scss';
@import './components/SingleCharacter.scss';
@import './global/forms.scss';
@import './global/variables.scss';
@import './components/Filter.scss';
@import './components/Home.scss';
@import './components/NavSearch.scss';
@import './components/CreateCharacter.scss';
@import './fonts/fonts.scss';
@import './components/Profile.scss';

h4{
  font-family: Emperialisme;
}

* {
    // background-color: rgb(221, 221, 107);
    box-sizing: border-box;
}

body{
  margin: 0;
  background-image: url('../images/embers.gif');
  @include background-image(cover);
  color: rgba(245, 245, 255, 0.8);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}